@import "fonts.css";
@import "button.css";
@import "swiper.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00A593;
  --primary-light: #00D972;
  --secondary: #656565;
  --info: #1773C6;
  --dark-blue: #0A2136;
  --dark-blue-100: #061C25;
  --dark-green: #135269;
  --dark-info: #0E2F4C;
  --yellow: #FCB000;
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --primary: #00A593;*/
/*    --secondary: #d3d3d3;*/
/*    --info: #1773C6;*/
/*    --dark-blue: #0A2136;*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

.container {
  max-width: 1328px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

a:hover {
  cursor: pointer;
  color: var(--primary);
}

.bg-right-bottom {
  background-position: right,bottom;
}

.vertical-milestone:after {
  content: "";
  position: absolute;
  height: 100%;
  border-style: dashed;
  border-color: var(--primary-light);
  border-width: 2px;
  top: calc(50% + 5px);
}


